{%extends 'user/allworks_template.html'%}
{%block breadcrumbs%}
<nav aria-label="breadcrumb" class="mb-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{'/'}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{'/allworks/1'}}" >Browse</a></li>

    {%for i in cat%}
    {%if i.category_id == id%}
    <li class="breadcrumb-item active" aria-current="page" id="catname">{{i.category_name}}</li>
    {%else%}
    {%endif%}
    {%endfor%}
  </ol>
</nav>
{%endblock%}
{%block artbody%}
<div class="col-md-9 " id="fil">
  {% with messages=get_flashed_messages()%}
  {%if messages %}
  {% for m in messages %}
    <div class="alert alert-success">{{m}}</div>
    {% endfor %}
    {% endif %}
  {%endwith%}
  {%if filtered:%}
  <div class="row mt-5 artist-art-row">
    {% for i in all_arts %}
    {% for j in filtered %}
    {%if i.art_id == j.product_id %}
  <!-- Art Items class="art-lnk" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" -->
  <div class="col-md-4" class="art-item" id="art-itm">
  <a href="/proddeets/{{i.art_id}}/"> <img src="{{url_for('static',filename='/uploads/'+i.art_pix)}}" alt="product image"  class="w-75 h-55"></a>
    <p>
      {%if i.art_availablestatus != '0' %}
      <a href="/cart/{{i.art_id}}/"><img src="{{url_for('static',filename='images/cart.png')}}" alt="cart_icon" id="cart"  aria-controls="offcanvasExample"></a>
      {%else%}
      <small class="bg-primary border-success">sold!</small>
      {% endif %}

      {%if i.art_id in fav %}
      <a href="/addfavorites/{{i.art_id}}/" id="fav" >
          <span style=" color: rgb(255, 70, 70);">
          <i class="fa fa-heart fa-lg" ></i>
        </span>
        </a>
        {%else%}
        <a href="/addfavorites/{{i.art_id}}/" id="fav" >
          <span style=" color: rgb(0, 0, 0);">
          <i class="fa fa-heart fa-lg" ></i>
        </span>
        </a>
        {% endif %}
    <div class="col">
      <div class="col-md-7"><h6>{{i.art_title}}</h6></div>
      <div class="col-md-5 "><h6>${{i.art_price}}</h6></div>
    </div>
    <span><a href="/artist/{{i.upload_userid}}/">{{i.artist_fullname}}</a></span>
    <p>{{i.cat.category_name}}<span>,{{i.art_dimension}}</span></p>
  </div>
  {%else%}
  {%endif%}
  {%endfor%}
  {%endfor%}
  {%else%}
  <div class="justify-content-center"><h5>No Product in this Category</h5></div>
  {%endif%}

  <!-- <div class="col-md-12" align="center"></div><button class="btn btn-info col-3">View all {{all_arts|count}} artworks</button>-->
</div> 
</div>


  {%endblock%}
