{%extends 'user/template.html'%}
{%block navtop%}

{%endblock%}
{%block navcontent%}
{%endblock%}
{%block body%}
<div class="container ">
  <div class="row">
    <div class="col-md-12">
      <a class="navbar-brand" href="{{url_for('home')}}">
          <img src="{{url_for('static',filename='images/7.png')}}" width=150px; height=100px;>
        </a>
      </div>
    </div>
      <div class="row mt-5">
    <div class="col-md-3" >
      <h1>MENU</h1>
      <ul>
        <li><a href="">Dashboard</a></li>
        <li><a href=""></a>Users</li>
        <li><a href=""></a>orders</li>
        <li><a href=""></a>Categories</li>
        <li><a href=""></a>orders</li>
      </ul>
    </div>
    <div class="col-md-9">
      <h1> Content</h1>
    </div>

</div>
</div>
{%endblock%}
{%block footer1%}{%endblock%}
{%block footer2%}{%endblock%}