{%extends 'user/template.html'%}
{%block body%}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 art-prof-ban " align="center">
      <h1 class="mt-5">Favorites</h1>
      <h4 class="mt-2"></h4>
    </div>
  <div class="col-md-4 " align="center">
    {%if deets.user_pix != None %}
    <img src="{{url_for('static',filename='/uploads/'+deets.user_pix)}}" alt="profile picture" height="250" width ="250" class="profile-img mt-5">
    {%else%}
    <img src="{{url_for('static',filename='images/def_user.png')}}" alt="profile picture" height="250" width ="250" class="profile-img mt-5 ms-5">
    {%endif%}
    <h3 class="mt-5">{{deets.user_username}}</h3>
  </div>

  <div class="col-md-8  mt-5 artist-art-row">

    <!-- Art Items -->
    {%if fav != [] %}
    <div class="col-md-3">
      {% for f in fav %}
      
      {% endfor %}
  </div>
    {%else%}
    <div class="col">
      <h3> You have no favorites </h3>
    </div>
    {%endif%}
  </div>
  </div>
  </div>

{%endblock%}
{%block javascript%}
<script>
  $(document).ready(function(){
    $('#fav').click(function(){})
  })
</script>
{%endblock%}