{%extends 'user/template.html'%}

{%block body%}
<div class="container">
  <div class="row">
  <div class="col-md-12">
    filter
  </div>
  <div class="col-md-4 mt-5" >
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
</div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
</div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>     
      </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/art/11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Oil on canvas,(1987), artist:sam Ovraiti</p>
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
</div>
</div>
{%endblock%}