{% extends 'user/account_template.html'%}

{%block content%}
{% with messages=get_flashed_messages()%}
{%if messages %}
{% for m in messages %}
  <div>{{m|safe}}</div>
  {% endfor %}
  {% endif %}
{%endwith%}

<div class="row">
    <div class="col">
        <h3>ORDER DETAILS</h3>
        <table class="table table-stripped bg-light text-black">
            <thead>
            <tr>
                <th> S/N </th>
                <th></th>
                <th>Order id </th>
                <th> Username </th>
                <th>item amt</th>
                <th>Order Date</th>
            </tr>
        </thead>
            <tbody>
                {% for  o in order_deet %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><a href="/proddeets/{{o.orderdetails_artid}}/"> <img src="{{url_for('static',filename='/uploads/'+o.art.art_pix)}}" alt="product image" height="50" width ="50" class=""></a></td>
                    <td>{{o.the_order.order_id}}</td>
                    <td>{{ deets.user_username}}</td>
                    <td>${{o.art.art_price}}</td>
                    <td>{{ o.the_order.order_date}}</td>
                    <td ><p class="btn btn-dark btn-sm" ><a class="link-light" href="{{url_for('orders')}}">all orders</a></p></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{%endblock%}