{%extends 'user/template.html'%}

{%block body%}

<div class="container">
  <div class="row" >
    <div class="col-md-12 ms-5 mt-5 bg-success" align="center" >
      <h2>Ovidot's </h2>
      <h4>Welcome to our website, where art lovers can find a diverse selection of high-quality, original artwork from talented artists around the world. We strive to bring together a community of artists and buyers to make the process of buying and selling art more accessible and enjoyable for everyone.</h4>
      <h5>
      We provide a seamless and user-friendly experience for our customers, with easy browsing and purchasing options. We believe that art should be accessible to everyone, and that's why we offer a wide range of styles, mediums, and price points to cater to all tastes and budgets.
      </h5>
      <h5>
      Our team is passionate about art and dedicated to supporting artists in their creative endeavors. We work closely with artists to curate a selection of artwork that reflects their unique styles and showcases their talent.</h5>
      <h5>
      Whether you're a seasoned art collector or just starting to explore the world of art, we hope you'll find something special on our website. Thank you for supporting the arts and for being a part of our community!</h5></div>
        </div>

    </div>
  </div>
</div>
</div>

{%endblock%}