{% extends 'user/account_template.html'%}

{%block content%}
{% with messages=get_flashed_messages()%}
{%if messages %}
{% for m in messages %}
  <div>{{m|safe}}</div>
  {% endfor %}
  {% endif %}
{%endwith%}
<form action="" enctype="multipart/form-data" method="post">

    <div class="col-xs-5 col-md-12">
        <h6 >ADDRESS DETAILS</h6>
        <hr>
        <input id="number" name="" type="text" class="form-control mb-3" placeholder="House Number">
        <input id="street-name" name="" type="text" class="form-control mb-3" placeholder="Street Name">
        <input id="city-state"  name="" type="text" class="form-control mb-3" placeholder="City and State">
        <input id="phone-no" name="" type="number" class="form-control mb-3" placeholder="Contact Phone No">
        <textarea id="full-address" name="delivery-details" disabled cols="50" placeholder=" Full Delivery address">{{deets.user_address}}</textarea>
        <button id="save" class="btn btn-dark col-6"> Save shipping address</button>
       </div>

</form>

{%endblock%}

{%block javascript%}
<script>
  $(document).ready(function(){
    $('#save').click(function(){
      var num = $('#number').val()
      var street =$('#street-name').val()
      var cityState=$('#city-state').val()
      var phone =$('#phone-no').val()
      var address=$('#full-address').val(num+', '+street+', '+cityState)
      var csrf = "{{csrf_token()}}"
      var data2send = {
      "phone":phone,
      "number":num,
      "street":street,
      "city":cityState,
      "csrf_token":csrf}

      $.ajax({
        url:"/update/address",
        data:data2send,
        type:'get',
        success:function(rsp){
         alert(rsp)
         $('#btn-save').click()
        },
        error:function(e){
          console.log(e)
        }
      })
    })
  })

</script>
{%endblock%}